body {
    background: linear-gradient(to bottom left, cyan 50%, skyblue 50%);
    height: 100%;
    /* background-image: url("/Web-Design-Challenge/Assets/One_and_zero.png"); */
    background-attachment: fixed;
    position: relative;
}

.row {
    max-width: 100%;
}

.navbar {
    background: linear-gradient(to bottom left, skyblue 10%, white 50%);
}

.jumbotron {
    background-color: rgb(224, 218, 218)
}

.card {
    margin: auto;
    width: 500px;
    height: auto;
}

.display-4 {
    text-decoration: solid underline black;
}

#target {
    text-align: center;
    height: auto;
    margin-top: 20px;
}